.App {
  text-align: center;
  height: 100vh;
}

.head, .foot {
  height: 80px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}

.head {
  top: 0;
  padding: 0 20%;
  border-bottom: dimgray 1px solid;
  font-family: monospace;
  font-size: 18px;
}

.foot {
  bottom: 0;
  justify-content: center;
  font-style: italic;
  font-size: 12px;
  border-top: dimgray 1px solid;
  color: dimgray;
}
